.page-enter-from {
	opacity: 0;
	transform: translateX(1em);
}

.page-enter-active,
.page-leave-active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	transition: 250ms ease-in-out;
}
.page-enter {
	opacity: 0;
	transform: translateX(1em);
}
.page-leave-to {
	opacity: 0;
	transform: translateX(-1em);
}
